  /**
   * 主色-品牌色
  **/
  $colorPrimary: #5f29cc;
  $colorPrimary-1: #f5f0ff;
  $colorPrimary-2: #ebe0ff;
  $colorPrimary-3: #dccdfa;
  $colorPrimary-4: #bca4eb;
  $colorPrimary-5: #9572db;
  $colorPrimary-6: #5f29cc;
  $colorPrimary-7: #3800a8;
  $colorPrimary-8: #2e008c;
  $colorPrimary-9: #250070;
  $colorPrimary-10: #1c0054;
  /**
  * 灰色-品牌色
  **/
  $colorGrey-1: #f8f7fa;
  $colorGrey-2: #f2f0f5;
  $colorGrey-3: #e8e6ed;
  $colorGrey-4: #dad7e0;
  $colorGrey-5: #cdc9d4;
  $colorGrey-6: #b8b4bf;
  $colorGrey-7: #949199;
  $colorGrey-8: #636266;
  $colorGrey-9: #252526;
  $colorGrey-10: #0d0c0d;
  /**
  * 辅色a
  **/
  $color-a-1: rgba(95, 41, 204, 1);
  $color-a-2: rgba(111, 41, 204, .83);
  $color-a-3: rgba(128, 41, 204, .67);
  $color-a-4: rgba(144, 41, 204, .5);
  $color-a-5: rgba(160, 41, 204, .33);
  $color-a-6: rgba(177, 41, 204, .17);
  /**
  * 辅色b
  **/
  $color-b-1: rgba(95, 41, 204, 1);
  $color-b-2: rgba(79, 41, 204, .83);
  $color-b-3: rgba(62, 41, 204, .67);
  $color-b-4: rgba(46, 41, 204, .5);
  $color-b-5: rgba(41, 52, 204, .33);
  $color-b-6: rgba(41, 68, 204, .17);
  /**
  * 多色
  **/
  $multiColor-1: #5f29cc;
  $multiColor-2: #5ec1f2;
  $multiColor-3: #5168db;
  $multiColor-4: #be7acc;
  $multiColor-5: #cc70ad;
  $multiColor-6: #e65069;
  $multiColor-7: #9187ff;
  $multiColor-8: #4334e3;
  $multiColor-9: #3629cc;
  $multiColor-10: #5d0999;

  /* 白色 */
  $colorPure: #FFFFFF;

  /* 功能色 */
  $function-1: #12b262;
  $function-2: #f5b301;
  $function-3: #f96900;
  $function-4: #e63d2e;

  /* 绿 */
  $colorGreen: #12b262;

  /* 黄 */
  $colorYellow: #f5b301;

  /* 橘 */
  $colorOrange: #f96900;

  /* 红 */
  $colorRed: #e63d2e;

  /* 蓝 */
  $colorBlue: #4285f4;
