  /**
   * 主色-品牌色
  **/
  $colorPrimary: #25cc9f;
  $colorPrimary-1: #f0fffb;
  $colorPrimary-2: #e0fff7;
  $colorPrimary-3: #cdfaee;
  $colorPrimary-4: #a4ebd8;
  $colorPrimary-5: #72dbbf;
  $colorPrimary-6: #25cc9f;
  $colorPrimary-7: #00a87b;
  $colorPrimary-8: #008c66;
  $colorPrimary-9: #007052;
  $colorPrimary-10: #00543d;
  /**
  * 灰色-品牌色
  **/
  $colorGrey-1: #f7faf9;
  $colorGrey-2: #f0f5f3;
  $colorGrey-3: #e6edeb;
  $colorGrey-4: #d7e0de;
  $colorGrey-5: #c9d4d1;
  $colorGrey-6: #b4bfbc;
  $colorGrey-7: #919997;
  $colorGrey-8: #626665;
  $colorGrey-9: #252626;
  $colorGrey-10: #0c0d0d;
  /**
  * 辅色a
  **/
  $color-a-1: rgba(37, 204, 159, 1);
  $color-a-2: rgba(37, 204, 176, .83);
  $color-a-3: rgba(37, 204, 193, .67);
  $color-a-4: rgba(37, 199, 204, .5);
  $color-a-5: rgba(37, 182, 204, .33);
  $color-a-6: rgba(37, 165, 204, .17);
  /**
  * 辅色b
  **/
  $color-b-1: rgba(37, 204, 159, 1);
  $color-b-2: rgba(37, 204, 142, .83);
  $color-b-3: rgba(37, 204, 126, .67);
  $color-b-4: rgba(37, 204, 109, .5);
  $color-b-5: rgba(37, 204, 92, .33);
  $color-b-6: rgba(37, 204, 76, .17);
  /**
  * 多色
  **/
  $multiColor-1: #25cc9f;
  $multiColor-2: #5eb7f2;
  $multiColor-3: #4bcc69;
  $multiColor-4: #91dcf2;
  $multiColor-5: #829fed;
  $multiColor-6: #714fe0;
  $multiColor-7: #b26ccc;
  $multiColor-8: #cc2fa7;
  $multiColor-9: #e62e5f;
  $multiColor-10: #992a09;

  /* 白色 */
  $colorPure: #FFFFFF;

  /* 功能色 */
  $function-1: #12b262;
  $function-2: #f5b301;
  $function-3: #f96900;
  $function-4: #e63d2e;

  /* 绿 */
  $colorGreen: #12b262;

  /* 黄 */
  $colorYellow: #f5b301;

  /* 橘 */
  $colorOrange: #f96900;

  /* 红 */
  $colorRed: #e63d2e;

  /* 蓝 */
  $colorBlue: #4285f4;
