  /**
   * 主色-品牌色
  **/
  $colorPrimary: #008df2;
  $colorPrimary-1: #ebf6ff;
  $colorPrimary-2: #d6eeff;
  $colorPrimary-3: #c2e5ff;
  $colorPrimary-4: #99d4ff;
  $colorPrimary-5: #5cbbff;
  $colorPrimary-6: #008df2;
  $colorPrimary-7: #007dd6;
  $colorPrimary-8: #0068b3;
  $colorPrimary-9: #00538f;
  $colorPrimary-10: #003e6b;
  /**
  * 灰色-品牌色
  **/
  $colorGrey-1: #f7f9fa;
  $colorGrey-2: #f0f3f5;
  $colorGrey-3: #e6eaed;
  $colorGrey-4: #d7dde0;
  $colorGrey-5: #c9cfd4;
  $colorGrey-6: #b4babf;
  $colorGrey-7: #919699;
  $colorGrey-8: #626466;
  $colorGrey-9: #252626;
  $colorGrey-10: #0c0d0d;
  /**
  * 辅色a
  **/
  $color-a-1: rgba(0, 141, 242, 1);
  $color-a-2: rgba(10, 122, 242, .83);
  $color-a-3: rgba(19, 105, 242, .67);
  $color-a-4: rgba(29, 89, 242, .5);
  $color-a-5: rgba(39, 76, 242, .33);
  $color-a-6: rgba(48, 65, 242, .17);
  /**
  * 辅色b
  **/
  $color-b-1: rgba(0, 141, 242, 1);
  $color-b-2: rgba(0, 160, 234, .83);
  $color-b-3: rgba(0, 178, 227, .67);
  $color-b-4: rgba(0, 194, 219, .5);
  $color-b-5: rgba(0, 208, 212, .33);
  $color-b-6: rgba(0, 204, 187, .17);
  /**
  * 多色
  **/
  $multiColor-1: #008df2;
  $multiColor-2: #ffd863;
  $multiColor-3: #4bccc1;
  $multiColor-4: #99a1ff;
  $multiColor-5: #9670cc;
  $multiColor-6: #c147cc;
  $multiColor-7: #80dff2;
  $multiColor-8: #34c6e3;
  $multiColor-9: #0eaccc;
  $multiColor-10: #093999;

  /* 白色 */
  $colorPure: #FFFFFF;

  /* 功能色 */
  $function-1: #12b262;
  $function-2: #f5b301;
  $function-3: #f96900;
  $function-4: #e63d2e;

  /* 绿 */
  $colorGreen: #12b262;

  /* 黄 */
  $colorYellow: #f5b301;

  /* 橘 */
  $colorOrange: #f96900;

  /* 红 */
  $colorRed: #e63d2e;

  /* 蓝 */
  $colorBlue: #4285f4;
