  /**
   * 主色-品牌色
  **/
  $colorPrimary: #ff751a;
  $colorPrimary-1: #fff4ed;
  $colorPrimary-2: #ffe9db;
  $colorPrimary-3: #ffdfc9;
  $colorPrimary-4: #ffc9a6;
  $colorPrimary-5: #ffa970;
  $colorPrimary-6: #ff751a;
  $colorPrimary-7: #d65500;
  $colorPrimary-8: #b34700;
  $colorPrimary-9: #8f3900;
  $colorPrimary-10: #6b2b00;
  /**
  * 灰色-品牌色
  **/
  $colorGrey-1: #faf8f7;
  $colorGrey-2: #f5f2f0;
  $colorGrey-3: #ede9e6;
  $colorGrey-4: #e0dbd7;
  $colorGrey-5: #d4cdc9;
  $colorGrey-6: #bfb8b4;
  $colorGrey-7: #999491;
  $colorGrey-8: #666462;
  $colorGrey-9: #262625;
  $colorGrey-10: #0d0d0c;
  /**
  * 辅色a
  **/
  $color-a-1: rgba(255, 117, 26, 1);
  $color-a-2: rgba(252, 136, 21, .83);
  $color-a-3: rgba(250, 156, 15, .67);
  $color-a-4: rgba(247, 176, 10, .5);
  $color-a-5: rgba(245, 197, 5, .33);
  $color-a-6: rgba(242, 218, 0, .17);
  /**
  * 辅色b
  **/
  $color-b-1: rgba(255, 117, 26, 1);
  $color-b-2: rgba(250, 96, 30, .83);
  $color-b-3: rgba(245, 76, 35, .67);
  $color-b-4: rgba(240, 58, 39, .5);
  $color-b-5: rgba(235, 42, 42, .33);
  $color-b-6: rgba(230, 46, 64, .17);
  /**
  * 多色
  **/
  $multiColor-1: #ff751a;
  $multiColor-2: #638dff;
  $multiColor-3: #e65563;
  $multiColor-4: #f2da00;
  $multiColor-5: #a7cc70;
  $multiColor-6: #55cc47;
  $multiColor-7: #6ccc92;
  $multiColor-8: #2fccbc;
  $multiColor-9: #0e80cc;
  $multiColor-10: #091899;

  /* 白色 */
  $colorPure: #FFFFFF;

  /* 功能色 */
  $function-1: #12b262;
  $function-2: #f5b301;
  $function-3: #f96900;
  $function-4: #e63d2e;

  /* 绿 */
  $colorGreen: #12b262;

  /* 黄 */
  $colorYellow: #f5b301;

  /* 橘 */
  $colorOrange: #f96900;

  /* 红 */
  $colorRed: #e63d2e;

  /* 蓝 */
  $colorBlue: #4285f4;
