  /**
   * 主色-品牌色
  **/
  $colorPrimary: #7700b3;
  $colorPrimary-1: #f8ebff;
  $colorPrimary-2: #f1d6ff;
  $colorPrimary-3: #ddb7f0;
  $colorPrimary-4: #be84dc;
  $colorPrimary-5: #9d48c7;
  $colorPrimary-6: #7700b3;
  $colorPrimary-7: #660099;
  $colorPrimary-8: #550080;
  $colorPrimary-9: #440066;
  $colorPrimary-10: #33004d;
  /**
  * 灰色-品牌色
  **/
  $colorGrey-1: #f9f7fa;
  $colorGrey-2: #f3f0f5;
  $colorGrey-3: #ebe6ed;
  $colorGrey-4: #ddd7e0;
  $colorGrey-5: #d0c9d4;
  $colorGrey-6: #bbb4bf;
  $colorGrey-7: #969199;
  $colorGrey-8: #656266;
  $colorGrey-9: #262526;
  $colorGrey-10: #0d0c0d;
  /**
  * 辅色a
  **/
  $color-a-1: rgba(119, 0, 179, 1);
  $color-a-2: rgba(137, 0, 179, .83);
  $color-a-3: rgba(155, 0, 179, .67);
  $color-a-4: rgba(173, 0, 179, .5);
  $color-a-5: rgba(179, 0, 167, .33);
  $color-a-6: rgba(179, 0, 149, .17);
  /**
  * 辅色b
  **/
  $color-b-1: rgba(119, 0, 179, 1);
  $color-b-2: rgba(107, 7, 184, .83);
  $color-b-3: rgba(96, 15, 189, .67);
  $color-b-4: rgba(86, 23, 194, .5);
  $color-b-5: rgba(76, 32, 199, .33);
  $color-b-6: rgba(68, 41, 204, .17);
  /**
  * 多色
  **/
  $multiColor-1: #7700b3;
  $multiColor-2: #5edaf2;
  $multiColor-3: #6851db;
  $multiColor-4: #cc7abe;
  $multiColor-5: #e67ea1;
  $multiColor-6: #e66950;
  $multiColor-7: #946ccc;
  $multiColor-8: #702fcc;
  $multiColor-9: #4e0cab;
  $multiColor-10: #8d0999;

  /* 白色 */
  $colorPure: #FFFFFF;

  /* 功能色 */
  $function-1: #12b262;
  $function-2: #f5b301;
  $function-3: #f96900;
  $function-4: #e63d2e;

  /* 绿 */
  $colorGreen: #12b262;

  /* 黄 */
  $colorYellow: #f5b301;

  /* 橘 */
  $colorOrange: #f96900;

  /* 红 */
  $colorRed: #e63d2e;

  /* 蓝 */
  $colorBlue: #4285f4;
